<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
  colors="true"
  verbose="true"
  failOnRisky="true"
  failOnWarning="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  stopOnFailure="false"
  executionOrder="random"
  resolveDependencies="true"
  enforceTimeLimit="true"
  defaultTimeLimit="10"
  timeoutForSmallTests="2"
  timeoutForMediumTests="5"
  timeoutForLargeTests="10">
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="default_socket_timeout" value="10"/>
    <ini name="max_execution_time" value="15"/>
  </php>

  <testsuites>
    <testsuite name="Tests">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory>./src</directory>
    </include>
  </coverage>
</phpunit>
